{% extends 'blank_layout.html' %}
{% load static %}

{% block banner %}


<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                
{% if  messages %}
<div class="message-container">
{% for message in messages %}
<p class="{{message.tags}}">{{message}}</p>
{% endfor %}
</div>

{% endif %}
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    <form id="LoginForm" method="post">
                        {% csrf_token %}
                        <input type="text" name="username"  required placeholder="Username">
                        <input type="password" name="password" required placeholder="Password">
                        <button type="submit" name="login" class="btn">Login</button>
                        <a href="">Forget Password</a>
                    </form>

                    <form id="RegForm" method="post">
                        {% csrf_token %}
                        <input type="text" name="username" required  maxlength="10" minlength="3" placeholder="Username">
                        <input type="email" name="email" required placeholder="Email">
                        <input type="password" name="password" required minlength="6" placeholder="Password">
                        <input type="text" name="address" required minlength="5" placeholder="address">
                        <input type="text" name="phone"  placeholder="phone">
                        <button type="submit" name="register" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock banner %}
{% block content %}

{% endblock content %}

{% block extrascripts %}
<script>
    var LoginForm = document.getElementById("LoginForm");
    var RegForm = document.getElementById("RegForm");
    var Indicator = document.getElementById("Indicator");
    function register() {
        RegForm.style.transform = "translatex(0px)";
        LoginForm.style.transform = "translatex(0px)";
        Indicator.style.transform = "translateX(100px)";

    }
    function login() {
        RegForm.style.transform = "translatex(300px)";
        LoginForm.style.transform = "translatex(300px)";
        Indicator.style.transform = "translate(0px)";

    }
</script>
{% if register %}
<script>
    register()
</script>
{% else %}
<script>
    login()
</script>
{% endif %}
    {% endblock extrascripts %}